name: "CI (OAuth Discovery UI)"

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    paths:
      - '.github/workflows/**'
      - 'client-oauth-discovery-dui/**'
  schedule:
    - cron: "01 13 1-7 * 5" # catch SNAPSHOT breaking changes
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'ci:full') }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build OAuth Discovery application
        run: |
          mvn -B clean verify --file client-oauth-discovery-dui/pom.xml
