name: "CI (client)"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - 'lyo-client-samples/**'
      - '**/pom.xml'
  schedule:
    - cron: "01 13 1-7 * 5" # catch SNAPSHOT breaking changes
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'ci:full') }}

jobs:
  build-client-samples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
#        java-version: ['17', '21']
#        distribution: ['zulu', 'oracle', 'corretto', 'liberica']
        include:
          - java-version: '21'
            distribution: 'temurin'
          - java-version: '25'
            distribution: 'temurin'
          # - java-version: '26'
          #   distribution: 'oracle'
          # - java-version: '25-ea'
          #   distribution: 'zulu'
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution:  ${{ matrix.distribution }}
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Build Lyo Client samples
        run: |
          mvn -B clean verify --file lyo-client-samples/pom.xml
      - name: Run Spotless (Maven plugin)
        run: |
          # set -x
          mvn -B spotless:apply --file lyo-client-samples/pom.xml
          # git -C ./ status --porcelain
          git add -A
          # git -C ./ status --porcelain
          if [ -z "$(git -C ./ status --porcelain)" ]; then
            echo "Spotless PASS"
          else
            git -C ./ status --porcelain
            echo "Spotless FAIL; run 'mvn -B spotless:apply --file lyo-client-samples/pom.xml' locally" >&2
            exit 1
          fi
      - name: Run OpenRewrite (Maven plugin)
        run: |
          mvn -B org.openrewrite.maven:rewrite-maven-plugin:run spotless:apply -DskipTests --file lyo-client-samples/pom.xml
          git add -A
          if [ -z "$(git -C ./ status --porcelain)" ]; then
            echo "rewrite PASS"
          else
            git -C ./ status --porcelain
            echo "rewrite FAIL; run 'mvn -B org.openrewrite.maven:rewrite-maven-plugin:run spotless:apply -DskipTests --file lyo-client-samples/pom.xml' locally" >&2
            exit 1
          fi
